*, *::before, *::after {
    box-sizing: border-box;
  }
 
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

li {
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    /* font-size/line-height kisa kullanim*/
    font: 400 16px/28px 'Open Sans', sans-serif;
    color: #212121;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin-bottom: 38px;
}

h2 {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.35px;
    margin-bottom: 16px;
}

h3, h4 {
    font-size: 20px;
    line-height: 30px;
}

h3 { margin-bottom: 16px; }

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #212121;
}

.headerIcons {
    display: flex;
    gap: 30px;
    align-items:flex-end;
}

.Title {
    max-width: 830px;
    padding-top: 80px;
}

.post01 img {
    padding: 25px 0px;
}

.post01 p {
    margin-bottom: 30px;
}

.avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar .avatarBilgi {
    display: flex;
    gap: 20px;
}
.avatarBilgi img{
    border-radius: 18px;
}

.avatar .icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.avatar .social li {
    cursor: pointer;
}

.post02, .post04 {
    display: flex;
    align-items: center;
}

.post02 p, .post04 p {
    margin-bottom: 25px;
}

.post03 {
    background-color: #ECF1F8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 90px 125px;
    margin: 80px 0px;
}

.post04Yazi {
    padding-right: 25px;
}

.sectionFour {
    margin-top: 50px;
}

.sectionFour h2 {
    margin-bottom: 30px;
}

.sectionFour img {
    margin-bottom: 50px;
}

.sectionFive {
    margin-top: 40px;
}

.sectionFiveCard {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.sectionFiveCard .card {
    box-shadow:0px 8px 20px rgba(40, 41, 61, 0.08);
    padding: 24px 15px;
    margin-bottom: 80px;
}

.sectionFiveCard .card  img {
    margin-bottom: 15px;
}

.sectionFiveCard h3 {
    margin-bottom: 0px;
}

.sectionFive h2 {
    margin-top: 80px;
}

.sectionFiveCard p {
    color: #52647C;
}
.footer{
    margin-top: 80px;
    padding-top: 72px;
    padding-bottom: 72px;
    border-top: 1px  solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
}
.footer a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}
.secondColumn{
    margin-left:24px ;
}
.thirdColumn{
    margin-left:24px ;
}
.fourthColumn {
    margin-left: 24px;
}
.footer p{
    display: flex;
    justify-content: right;
}
.placeHolder{
    margin-top: 20px;
    margin-left: 24px;
    width: 354px;
    height: 48px;
}
